# Data
pandas==2.2.3
numpy==2.2.5
scikit-learn==1.6.1
pandas_ta==0.3.14b0
ccxt==4.4.78

# Deep Learning
tensorflow==2.19.0

# Visualisation & Dashboard
matplotlib==3.10.1
seaborn==0.13.2
streamlit==1.45.0

# Utils
tqdm==4.67.1
python-dotenv==1.1.0
requests==2.32.3

# Jupyter
ipykernel==7.0.0a1
jupyterlab==4.4.1
